Repository eiman-kased/starbulls, pull requests merged in 2021-03, with the labels that each got.

#56 Update README.md
  README.md
Labels: documentation

#55 Social Media Icons, fixed readability.
  about.php
  apply.php
  css/main.css
  css/socialIcon.css
  css/specials.css
  css/starbull.css
  images/faceIcon.jpg
  images/instaIcon.jpg
  images/twitterIcon.jpg
  index.php
  menu.php
  specialMenu.php
Labels: CSS, UI/UX, bug

#61 25 condense css
  about.php
  apply.php
  css/main.css
  css/socialIcon.css
  css/specials.css
  css/starbull.css
  index.php
  menu.php
  specialMenu.php
Labels: CSS, UI/UX, bug

#70 Horizontal Scroll Fixed on home
  css/main.css
  index.php
Labels: CSS, UI/UX, bug

#53 tkt37 Overall consistent site styling
  about.php
  apply.php
  css/main.css
  images/starbulls_logo.png
  index.php
  menu.php
  navbar.php
  specialMenu.php
Labels: BLOCKING, CSS, UI/UX, bug

#68 Water photos
  about.php
  apply.php
  css/main.css
  footer.php
  images/_twitter.png
  images/bakedchicken.jpg
  images/barista.jpg
  images/coffeebeans.jpg
  images/connect.jpg
  images/connectround.jpg
  images/cwing.jpg
  images/fb.png
  images/ingredients.jpg
  images/instagram.png
  images/loadedCoffee.jpg
  images/wingassortment.jpg
  images/wingplatter.jpg
  images/wingsncoffee.jpg
  imgs/chickenWings.jpg
  imgs/cofee1.png
  imgs/cofee2.png
  imgs/cofee3.png
  imgs/coffee12.png
  imgs/contactUs.jpeg
  imgs/faceIcon.jpg
  imgs/instaIcon.jpg
  imgs/starbullslogo.png
  imgs/twitterIcon.jpg
  index.php
Labels: CSS, UI/UX, clean-up

#59 31 copy edits
  about.php
  menu.php
  specialMenu.php
Labels: UI/UX

#73 #17 **Indicator
  css/main.css
  js/indicator.js
  menu.php
  navbar.php
  signup.php
Labels: CSS, help wanted

#76 62 Hashed Password
  db/starbulls.up.sql
  forms/user.form.php
Labels: documentation, enhancement, security

#78 Refactored db_connect.php into Database class
  src/DB/Database.php
  src/DB/db_connect.php
  src/Review.php
  src/User.php
Labels: clean-up, documentation, enhancement, security

#85 about us image adjusted, text adjusted with bootstrap
  about.php
  css/main.css
Labels: BLOCKING, CSS, UI/UX, documentation, enhancement

#74 added drop down for "menu" in the navbar
  js/indicator.js
  navbar.php
Labels: UI/UX, bug, enhancement

#69 Ticket 43 forms build out CSS
  css/main.css
  forms/review.form.php
  forms/user.form.php
  index.php
  signup.php
Labels: BLOCKING, CSS, UI/UX

#92 #89 Moved hash functionality into User class
  forms/user.form.php
  src/User.php
Labels: clean-up, enhancement, security

#90 Consolidated images folder and fixed pathways
  imgs/starbulls_logo.png
  imgs/starbullslogo.png
  index.php
  navbar.php
Labels: CSS, bug, clean-up, documentation

#96 fixed row margins on home
  css/main.css
Labels: CSS, UI/UX, bug

#94 #60 after a new user is created successfully, redirect to the home page
  forms/user.form.php
Labels: UI/UX, enhancement

#91 #87 Fixed indicator, fixed typos.
  navbar.php
Labels: CSS, clean-up

#88 83-Built out cards
  about.php
  css/main.css
Labels: CSS, UI/UX, documentation, enhancement

#97 tkt 75 revised StarBulls logo
  css/main.css
  imgs/starbulls_logo.png
  imgs/starbulls_logoWhite.png
  navbar.php
Labels: UI/UX, enhancement
