Repository eiman-kased/starbulls, pull requests merged in 2021-04, with the labels that each got.

#99 added container-fluid to pages
  about.php
  apply.php
  css/main.css
  footer.php
  forms/apply.form.php
  index.php
  menu.php
  navbar.php
  signup.php
  specialMenu.php
Labels: UI/UX, enhancement

#101 Ticket 100 bgwarp
  css/main.css
  forms/user.form.php
Labels: CSS, UI/UX

#79 Tkt66 Home Page Design Improvements
  css/main.css
  imgs/burgerfries.jpg
  imgs/chickenwings2.jpg
  imgs/cofee1.png
  imgs/coffee.jpg
  imgs/coffeesocial.jpg
  imgs/facebook.svg
  imgs/hotchocolate.jpg
  imgs/instagram.svg
  imgs/twitter.svg
  imgs/wingbuffet.jpg
  index.php
Labels: CSS, UI/UX, clean-up, enhancement

#108 Form validation and API Routes
  .gitignore
  .htaccess
  api.php
  composer.json
  composer.lock
  css/main.css
  db/starbulls.up.sql
  forms/apply.form.php
  forms/review.form.php
  index.php
  js/apply.js
  js/indicator.js
  js/reviewApi.js
  src/Review.php
  src/User.php
Labels: bug, clean-up, documentation, enhancement, security

#109 added basic setup instructions to the readme
  README.md
Labels: documentation

#107 Homepage DONE, fixed text across screen sizes
  css/main.css
  index.php
Labels: CSS, FIRE!!!, UI/UX, bug

#117 minor comments and added some todo notes
  api.php
  css/main.css
Labels: clean-up, documentation

#119 111 reviews Styling carousel of Customer Reviews
  .htaccess
  about.php
  apply.php
  css/main.css
  imgs/scoreCoffeeCup0.5.png
  imgs/scoreCoffeeCup0.png
  imgs/scoreCoffeeCup1.5.png
  imgs/scoreCoffeeCup1.png
  imgs/scoreCoffeeCup2.5.png
  imgs/scoreCoffeeCup2.png
  imgs/scoreCoffeeCup3.5.png
  imgs/scoreCoffeeCup3.png
  imgs/scoreCoffeeCup4.5.png
  imgs/scoreCoffeeCup4.png
  imgs/scoreCoffeeCup5.png
  imgs/starbulls_icon.png
  index.php
  js/reviewApi.js
  navbar.php
Labels: UI/UX

#121 add mamp/lamp link to README
  README.md
Labels: documentation

#118 CSS Clean Up
  about.php
  apply.php
  css/main.css
  forms/user.form.php
Labels: CSS, clean-up

#123 113 api number format
  api.php
  forms/review.form.php
  index.php
  src/User.php
Labels: API, UI/UX, bug, clean-up

#120 110 js form transition
  api.php
  forms/review.form.php
  forms/user.form.php
  js/reviewApi.js
Labels: API, UI/UX, documentation

#129 Refactor reviewApi.js
  js/reviewApi.js
Labels: API, UI/UX, clean-up, documentation

#124 reformatting main content review forms
  api.php
  css/main.css
  forms/apply.form.php
  forms/review.form.php
  forms/user.form.php
  index.php
  js/reviewApi.js
Labels: CSS, UI/UX, clean-up, documentation

#130 114 api name format
  api.php
  imgs/coffee1.png
  imgs/coffee2.png
  imgs/coffee3.png
  index.php
Labels: API, bug, documentation, security

#132 Cleared forms after submit
  forms/review.form.php
  forms/user.form.php
  js/reviewApi.js
Labels: CSS, UI/UX, clean-up

#135 Responsive Font Sizes and Reviews Carousel Indicators Color
  css/main.css
  index.php
Labels: CSS, clean-up

#136 112 Email verification
  api.php
Labels: API, bug, documentation, security
